* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    color: black;
    font-size: 28px;
    background: green;
    padding-bottom: 8px;
}
