* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: #B0BEC5;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    color: black;
    font-size: 28px;
    background: green;
    padding-bottom: 8px;
}

section {
    padding: 1.8em 1em 0 1em;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 22%);
}
