body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.content {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin: 10px;
}

.size {
    margin: 20px;
}

#table-container {
    overflow: auto;
    max-width: 100%;
}

#table-container input {
    width: 60px;
}
