.form-control {
    display: block;
    margin: 10px;
    overflow: hidden;
}

.form-control > label {
    float: left;
    margin: 0 10px;
}

.form-control > small {
    display: block;
    float: left;
}

.input {
    display: inline-grid;
    float: right;
}

form {
    display: inline-block;
}
