.container{
    display: flex;
    justify-content: center;
    margin: 10%;
}
.display {
    width: 100%;
    text-align: right;
    border: 1px solid black;
    font-size: 20px;
    padding: 3px;
}

table {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

td {
    padding: 2px;
}

td button {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

button {
    border: none;
    margin: 0;
}

td button:hover {
    cursor: pointer;
    border: 1px solid white;
}

button[name=btn-num] {
    color: white;
    background: black;
}

button[name=btn-operator] {
    color: white;
    background: #E65100;
}

button[name=btn-equal] {
    color: white;
    background: grey;
}
